<div>
  <h1>{{ title }}</h1> 

  <input type="text" [(ngModel)]="searchTerm" (keyup)="filterUsers()" class="form-control mb-3" placeholder="Search...">
  
  <button class="btn btn-success mb-3" routerLink="/form" >Add User</button>
  
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address }}</td>
        <td> 
          <span class="action-icon" routerLink='edit/{{user._id}}'>
            <i class="fas fa-edit"></i> Edit
          </span>
          <span class="action-icon" (click)="deleteUser(user._id)">
            <i class="fas fa-trash"></i> Delete
          </span>
          <span class="action-icon" (click)="detail(user._id)">
            <i class="fa fa-info-circle"></i> Details
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="pageLength" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
  <button (click)="onClick()" class="btn btn-primary mb-3">Export PDF</button>
  <div class="pagination">
    <!-- Pagination buttons can be added here if needed -->
  </div>
</div>
