<div class="container">
    <h2 class="heading"> User Detail</h2>
<mat-card class="user-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong>Name:</strong> {{ userData.fullName }}</mat-card-title>
    <mat-card-subtitle><strong>Email:</strong> {{ userData.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Address:</strong> {{ userData.address }}</p>
    <p><strong>Phone:</strong> {{ userData.phone }}</p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
      <button type="submit" class="btn btn-primary"  (click)="edit(userData._id)">edit</button>
       <button type="button" class="btn btn-secondary ml-2" routerLink="/" >Back</button>

  </div>

